

@font-face {
    font-family: 'leu';
    /*font-display: fallback;*/
    src: url('../fonts/book.otf');
    font-weight: normal;
    font-style: normal
}

.leu-font{
	font-family: 'leu',
}

body{
	font-family: 'Montserrat', sans-serif;;
	/*background: whitesmoke;*/
    /*width: 90%;*/
}

html{
    /*width: 90%;*/
     /* zoom: 0.9; 
     -moz-transform: scale(0.9); */
}

.half-circle-bottom {
    background: #e7ecf2;
    display: inline-block;
    margin: 0;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    height: 28px;
    width: 55px;
}

.border-bottom-dashed {
    border-bottom: dashed 1px #e7ecf2;
}

.btn-boxed{
    border-radius: 0px;
    margin-top: 40px;
}

.btn-boxed-1{
    border-radius: 0px;
}

.svg-bckground {
  background: url(assets/img/forum/map.svg);
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.bg-black{
    background: #360033;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0b8793, #360033);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033);
}

.bg-white{
    background: white;
}

.bg-whitesmoke{
    background: whitesmoke;
}

.mtn-100{
    margin-top: -100px;
}

.nav>li>a{
    color:white;
}


.div-light {
    /*background-color: rgba(0,0,0, .3);*/
    background-color: #f8f9fa;
    /*background-color: #d1dcea;*/
    /*#f8f9fa*/
    
    /*background-color: whitesmoke;*/
    margin-top: 80px;
    /*margin-bottom: 50px;*/
    /*height: 300px;*/
}


.div-light1 {
    /*background-color: #333; */
   margin-top: 80px;
   height: 300px;
     background: url(/coin.user/source/images/map.svg);
      background-size: contain;
      background-position: 50% 0;
      background-repeat: no-repeat;
       /*background: #360033;*/
  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #0b8793, #360033);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #0b8793, #360033);*/
    /*margin-bottom: 50px;*/
    /*height: 300px;*/
}

.div-header {
    /*background-color: whitesmoke;*/
    background-color: #d1dcea;
    padding: 5px;
    text-align: center
}



hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-color: white !important;
    /*border-color: #1c3352 !important*/
}

@media(max-width:767px) {
    .div-top-spacer {
    	/*margin-top: 150px;*/
        padding-top: 50px;
        /*height: 400px;*/
    }

    .div-top-spacer-small {
        padding-top: 1vw
    }

    #divHomeTitle {
        padding-left: 5px
    }

    #divHome {
        background: url(../images/img_home_bg12_r.jpg) no-repeat center
    }

    .contents-fixed {
        background-color: #000;
        padding-top: 12vh
    }
}


.mb-5 {
    margin-bottom: 3rem !important
}

.mt-5 {
    margin-top: 3rem !important
}


.form-control {
    font-family: leu, Georgia, serif;
    outline: 0;
    border: 0;
    border-bottom: 3px solid rgba(117, 135, 158, .5);
    letter-spacing: 1px;
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 0 0 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1c3352;
    background-color: #fff;
    background-image: none;
    border: 0;
    outline: 0px;
    border-radius: 0;
    border-bottom: 2px solid rgba(117, 135, 158, .5);
    font-weight: 200
}

.form-control::focus {
    /*border-color: #66afe9;*/
    outline: 0px;
    border-bottom: 2px solid rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    font-family: leu, Georgia, serif;
    color: #333;
    opacity: .6;
    font-weight: normal
}

.form-control:-ms-input-placeholder {
    font-family: leu, Georgia, serif;
    color: #333;
    opacity: .2;
    font-weight: normal;
    color: white; !important
}

.form-control::-webkit-input-placeholder {
    font-family: leu, Georgia, serif;
    color: #333;
    font-weight: normal;
    opacity: 1
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

.btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 10pt;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff !important;
    text-decoration: none;
    outline: 0
}

.btn:active,
.btn.active {
    color: #fff !important;
    text-decoration: none;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    border-color: rgba(0, 0, 0, .125) !important
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none
}

.btn-default {
    width: 100%;
    height: 32px;
    padding: 0 0 0 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 1px -1px rgba(117, 135, 158, 1);
    box-shadow: 0 2px 1px -1px rgba(117, 135, 158, 1);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.btn-default:focus,
.btn-default.focus {
    border-color: #8c8c8c
}

.btn-default:hover {
    border-color: #adadad
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    border-color: #adadad
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #333
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352
}

.btn-primary:hover {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352;
    text-decoration: none
}

.dropdown-toggle.btn-primary {
    background-color: #24436b;
    border-color: #24436b;
    color: white;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #1c3352;
    background-color: white;
    border-bottom-color: white;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none;
    background-color: #24436b;
    border-color: #24436b;
    color: white;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-minimize {
    color: #1c3352;
    background-color: #e7ecf2;
    border-color: #e7ecf2;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold
}

.btn-minimize:focus,
.btn-minimize.focus {
    color: #1c3352;
    background-color: #e7ecf2;
    border-color: #e7ecf2
}

.btn-minimize:hover {
    color: #1c3352 !important;
    background-color: #e7ecf2;
    border-color: #e7ecf2;
    text-decoration: none
}

.dropdown-toggle.btn-minimize {
    background-color: #24436b;
    border-color: #24436b;
    color: white;
}

.btn-minimize:active,
.btn-minimize.active,
.open>.dropdown-toggle.btn-minimize {
    color: #1c3352;
    background-color: #e7ecf2;
    border-color: #e7ecf2
}

.btn-minimize:active:hover,
.btn-minimize.active:hover,
.open>.dropdown-toggle.btn-minimize:hover,
.btn-minimize:active:focus,
.btn-minimize.active:focus,
.open>.dropdown-toggle.btn-minimize:focus,
.btn-minimize:active.focus,
.btn-minimize.active.focus,
.open>.dropdown-toggle.btn-minimize.focus {
    color: #1c3352;
    background-color: white;
    border-bottom-color: white;
}

.btn-minimize:active,
.btn-minimize.active,
.open>.dropdown-toggle.btn-minimize {
    background-image: none;
    background-color: #e7ecf2;
    border-color: #e7ecf2;
    color: #1c3352
}

.btn-minimize.disabled:hover,
.btn-minimize[disabled]:hover,
fieldset[disabled] .btn-minimize:hover,
.btn-minimize.disabled:focus,
.btn-minimize[disabled]:focus,
fieldset[disabled] .btn-minimize:focus,
.btn-minimize.disabled.focus,
.btn-minimize[disabled].focus,
fieldset[disabled] .btn-minimize.focus {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-minimize .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    letter-spacing: 1px
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352
}

.btn-success:hover {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #1c3352;
    border-color: #1c3352
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open>.dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open>.dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open>.dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent
}

.btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: white;
    text-decoration: none
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    /*border-radius: 6px*/
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    /*border-radius: 3px*/
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    /*border-radius: 3px*/
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%
}


.alert {
    margin-top: 2px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 2px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: bold
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-decoration: none
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}