@font-face {
    font-family: 'book';
    /*font-display: fallback;*/
    src: url('fonts/book.otf');
    font-weight: normal;
    font-style: normal
}

body{
	/*font-family: 'leu', sans-serif;;*/
	font-family: 'book', sans-serif;
	/*background: whitesmoke;*/
    /*width: 90%;*/
}
